.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}
#app{

    background-image: linear-gradient( #16213E  ,#2C527E , #533483 );
}
div h1{
    color: white;
}
div ol li{
    color: white;
    text-decoration: none; 
}
div h4 {
    color: white;
}
.btn{
    color: white;
    background-color:#E94560;
    

}
.btn2{
    color:#E94560;
    background-color:white;
    padding: 2%;
    border-radius: 15%;

}
    
#grad2{
    background-image: linear-gradient( #E94560 7% ,#2C527E 13%, #0F3460 80% );
}
.task{
    display:flex;
}
/* .done{
    display: none;
} */
/* .progress{
    display: none; 
} */
 /*.BTTNS{
    display: none;
}*/